body {
    background: #001741 url('../images/mountains.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e8f0f5;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: Permanent Marker, Arial, sans-serif;
    font-weight: 400;
}

.main-content {
    background-color: #010c20;
    border: 2px solid #4b73c4;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 #84bef8; */
    text-align: center;
    width: 60%;
    min-width: 300px;
    height: 100%;
    margin: auto;
    /* padding: 2% 0% 20% 0%; */
    @media only screen and (max-width: 980px) {
        width: 90%;
    }
}

.text-softer {
    color: #aeb5b9;
}

.text-brighter {
    color: #e8f0f5;
}

.back {
    background-color: #be9cec;
    color: #000;
    padding: 15px 30px;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.back:hover {
    background-color: #d8befb;
    box-shadow: 0 4px 8px 0 #f180d5;
}