body {
    background: #001741 url('../images/mountains.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e8f0f5;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-weight: 400;
}
.main-content {
    background-color: #010c20;
    border: 2px solid #4b73c4;
    /* box-shadow: 0 4px 8px 0 #84bef8; */
    text-align: center;
    width: 60%;
    min-width: 300px;
    height: 100%;
    margin: auto;
    /* padding: 2% 0% 20% 0%; */
    @media only screen and (max-width: 980px) {
        width: 90%;
    }
}
.link {
    background-color: #be9cec;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.link:hover {
    background-color: #d8befb;
    box-shadow: 0 4px 8px 0 #f180d5;
}
#podarius {
    padding-top: 20px;
}